<div class="container">
    <h1 class="text-danger">Delete Employee</h1>
    <div class="col-6">
        <table class="table table-stripped table-bordered">
            <tr>
                <td>Employee Id</td>
                <td>{{employee.id}}</td>
            </tr>
            <tr>
                <td>Employee Name</td>
                <td>{{employee.name}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{employee.gender}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{employee.age}}</td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>{{employee.salary}}</td>
            </tr>
        </table>
        <button class="btn btn-primary" (click)="onDelete()">Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
        

    </div>
</div>